extends frame

block submenu
    div(style="height:10px;width:100%")
    #menu(align="middle" style="height:40px;padding: 0 10 0 10;")
        li(id="itemwinrate" ).submenubtn items
        li(id="versuswinrate" ).submenubtn versus
        
block body
    #itemwinrate_page(style="overflow:hidden;height:0")
        #baselines(align="middle" style="word-wrap:break-word; line-height:40px; padding: 0 10 0 10;")
            b(id="win").checkbox winRate
            b(id="gpm").checkbox gpm
            b(id="xpm").checkbox xpm 
            b(id="kills").checkbox kills 
            b(id="deaths").checkbox deaths 
            b(id="assists").checkbox assists 
            b(id="lastHits").checkbox lastHits 
            b(id="denies").checkbox denies 
            b(id="level").checkbox level 
            b(id="netWorth").checkbox netWorth 
            b(id="gold").checkbox gold 

        #chart(style="width:100%;height:1px" )
        #table(style="min-width:300px;max-width:800px;overflow-x:hidden;padding: 0 0 0 0;max-height:50%")
                table(style="background:#111;width:100%;color:#888;")
                    tbody(id="items")

        div(style="height:50px")      
    #versuswinrate_page(style="overflow:hidden;height:0")
                              
        #versus(style="min-width:300px;max-width:800px;color:#ccc;padding: 0 0 0 0;")     
            div(style="padding:10") WORST VERSUS         #{hero} win rate                        
            table(style="background:#111;width:100%;color:#888;margin-left:auto;margin-right:auto")
                tbody(id="versuses")


block script   
   
    script(src="/libs/jquery-3.1.1.min.js")
    script(src="/libs/echarts.min.js")
    script(src="/libs/echartshelper.js")
    script(src="/libs/ui.js")


    script(stype="text/javascript").
        var xAxisData = [];
        for (var i = 0; i < 10800; i+= 10)
        {
            xAxisData.push( formatTime(i));
        }

        var charts = {};
        var div = document.getElementById('chart');
        var myChart = echarts.init(div);
        var helper = echartshelper(myChart);
        var options = helper.getOptions();
        options.xAxis.data = xAxisData;
        var herodetails;

        var checkboxparas = {
            reclick :true,
            autoreset:false,
            onclick:function(button){
                button.setAttribute("class", "checkboxChecked");
                options.yAxis[1].name = button.id;
                showdetails(button.id)
            },
            onreset: function(button){
                button.setAttribute("class","checkbox");
                helper.remove(button.id);
                options.yAxis[1].name = "";
                
                draw();

            }
        }

        function showdetails(item)
        {
            if (herodetails)
            {   
                var data = [];
                for (var i in herodetails)
                {
                    var d = herodetails[i];
                    data.push([formatTime(herodetails[i].timestamp),d[item] / d.play]);
                }
                helper.update({name:item,yAxisIndex:1,type:'line', smooth:true,  symbol:'none', data:data,symbol:'none', silent: true, animation: false})
                draw();
            }
            else
            {
        $.get('/api/GetHeroDetails/?name=#{hero}', function (ret) 
        {
            herodetails = ret;
                    showdetails(item)
        })     
            }
        }

        ui.addRadioButton("win", "charts", checkboxparas)
        ui.addRadioButton("gpm", "charts", checkboxparas)
        ui.addRadioButton("xpm", "charts", checkboxparas)
        ui.addRadioButton("kills", "charts", checkboxparas)
        ui.addRadioButton("deaths", "charts", checkboxparas)
        ui.addRadioButton("assists", "charts", checkboxparas)
        ui.addRadioButton("lastHits", "charts", checkboxparas)
        ui.addRadioButton("denies", "charts", checkboxparas)
        ui.addRadioButton("level", "charts", checkboxparas)
        ui.addRadioButton("netWorth", "charts", checkboxparas)
        ui.addRadioButton("gold", "charts", checkboxparas)


        var subbuttonparas = {
            autoreset:false,
            reclick:false,
            onclick:function(button){
                button.setAttribute("class", "submenubtndown");
                var page = document.getElementById(button.id + "_page");
                page.style.height = "";
            },
            onreset:function(button){
                button.setAttribute("class", "submenubtn");
                var page = document.getElementById(button.id + "_page");
                page.style.height = "0px";
            }
        }
        ui.addRadioButton("itemwinrate","default", subbuttonparas);
        ui.addRadioButton("versuswinrate","default", subbuttonparas);
        itemwinrate.onclick();
        
 

        function formatTime(time)
        {
            var min = Math.floor(time / 60);
            var sec = time % 60;
            if (min == 0)
                return sec + '"';
            else if (sec == 0)
                return min + " '00" + '"';
            else                
                return min + "' " + sec + '"';
        }


        function draw()
        {
            var height = div.clientWidth /2.5;
            if (height < 250) height = 250;
            div.style.height = height;

            helper.refresh()
        }

        window.onresize =function(){ draw();}  

        function usedlimit(num)
        {
            return num > 20;
        }

        function getDetails(item)
        {
            var sel = document.getElementById(item);
            if ( sel.style.background != "green")
                return;

            if (charts[item]) 
            {
                helper.update({name:item, type:'line', smooth:true,  symbol:'none', markLine:{data : [{type : 'average', name: '平均值'}], symbol:'none', silent: true, animation: false},data:charts[item]})
                draw();
                return;
            }

            $.get('/api/GetItemDetails/?hero=#{hero}&item=' + item , function (details) 
            {
                var data = [];
                for (var i in details)
                {
                    var d = details[i];
                    if (!usedlimit(d.used) )
                        continue;
                    
                    data.push([formatTime(d.timestamp), d.win / d.used]);
                }

                charts[item] = data;
                getDetails(item)
            })
        }
        
        function selectItem(item)
        {
            var sel = document.getElementById(item);
            if ( sel.style.background == "green")
            {
                sel.style.background = "#111";
                helper.remove(item) 
                draw();
            }
            else
            {
                sel.style.background = "green"; 
                getDetails(item)
            }
            
        }
            



        $.get('/api/GetItemSummaries/?hero=#{hero}', function (items) 
        {
            var content = "";
            for (var index in items)
            {

                var item = items[index];
                if (item.used < 10)
                    continue
                var selected = "<td style='width:20px'><div style='width:20px;height:40px' id ='" + item.item + "' /></td>";
                var image = "<td style='width:80px'><img style='height:40px;vertical-align:middle;' src='http://cdn.dota2.com/apps/dota2/images/items/" + item.item + "_lg.png' class='normalImage'/></td>";
                var rate = "<td onclick='selectItem(\""+item.item+"\")'><div onclick='selectItem(\""+item.item+"\")' style='background:green;margin-left:0px;color:white;width:" + Math.floor(item.win * 100 /item.used ) + "%'><p onclick='selectItem(\""+item.item+"\")' style='margin-left:10px'>" + Math.floor(item.win * 100 /item.used)+"%</p></div></td>";
                var tr = "<tr >" + selected + image+ rate + "</tr>"
                content += tr;
            }

            document.getElementById("items").innerHTML = content; 
        })

        $.get('/api/GetHeroSummaries/?name=#{hero}', function (ret) 
        {
            var rate = ret.win / ret.play;
            helper.update({name:"#{hero}", type:'line', smooth:true,  symbol:'none', data:[rate],markLine:{data : [{type : 'average', name: '平均值'}], symbol:'none', silent: true, animation: false}})
            draw();
        })        

        $.get('/api/GetItemVersuses/?hero=#{hero}', function (items) 
        {
            var content = "";
            for (var index in items)
            {

                var item = items[index];
                if (item.used < 10)
                    continue
                var selected = "<td style='width:20px'><div style='width:20px;height:40px' id ='" + item.item + "' /></td>";
                var image = "<td style='width:80px'><img style='height:40px;vertical-align:middle;' src='http://cdn.dota2.com/apps/dota2/images/items/" + item.item + "_lg.png' class='normalImage'/></td>";
                var rate = "<td onclick='selectItem(\""+item.item+"\")'><div style='background:green;margin-left:0px;color:white;width:" + Math.floor(item.win * 100 /item.used ) + "%'><p onclick='selectItem(\""+item.item+"\")' style='margin-left:10px'>" + Math.floor(item.win * 100 /item.used)+"%</p></div></td>";
                var tr = "<tr >" + selected + image+ rate + "</tr>"
                content += tr;
            }

            document.getElementById("versuses").innerHTML = content; 
        })

        draw();

