extends frame

block submenu
    div(style="height:10px;width:100%")
    #menu(style="text-align: center;height:50px;line-height:50px;padding: 0 10 0 10;")
        li(id="itemwinrate" ).submenubtn 物品
        li(id="versuswinrate" ).submenubtn 对手
        a(href="" style="").lableLink 
        img( src='http://cdn.dota2.com/apps/dota2/images/heroes/#{hero}_hphover.png' style="float: right;height:45px;padding:0;box-shadow:0 0 1px 1px #000;" ).lable
        
block body
    #itemwinrate_page(style="overflow:hidden;height:0;")
        div(style="background:#111;box-shadow:0 0 1px 1px #000; margin:2px")
            #baselines(align="middle" style="word-wrap:break-word; line-height:40px; padding: 0 10 0 10;")
                b(id="win").checkbox 胜率趋势
                b(id="gpm").checkbox 每分钟经济
                b(id="xpm").checkbox 每分钟经验
                b(id="kills").checkbox  击杀
                b(id="deaths").checkbox 死亡 
                b(id="assists").checkbox 助攻 
                b(id="lastHits").checkbox 正补 
                b(id="denies").checkbox 反补 
                b(id="level").checkbox 等级 
                b(id="netWorth").checkbox 财产总和 
                b(id="gold").checkbox 当前金钱

            #chart(style="width:100%;height:1px;" )

        div(style="height:10px")
       
        div(style="background:#111;box-shadow:0 0 1px 1px #000; margin:2px")    
            div(style="width:100%; color:#888;height:30px;line-height:30px")
                text(style="margin-left:20px") 物品
                text(style="margin-left:80px") 胜率
            #table(style="min-width:300px;width:99%;overflow-x:hidden;padding: 0 0 0 0;height:50%;margin:auto;margin-right:auto")
                table(style="width:100%;color:#888;" id="items")

        div(style="height:50px")      
    #versuswinrate_page(style="overflow:hidden;height:0")
        div(style="background:#111;box-shadow:0 0 1px 1px #000; margin-left:2px; margin: 2px")
            div(style="width:100%; color:#888;height:30px;line-height:30px")
                text(style="margin-left:20px") 英雄
                text(style="margin-left:80px") #{hero} 胜率          
            table(style="background:#333;width:99%;;overflow:auto;margin:auto" id="versuses")


                    
          
                //- table(style="background:#111;width:500px;color:#888;margin-left:auto;margin-right:auto")
                    //- tbody(id="versuses")
                    //-     tr 
                    //-         td(style="width:80px")
                    //-             img(style="height:40px;vertical-align:middle;" src="http://cdn.dota2.com/apps/dota2/images/heroes/kunkka_hphover.png" class="normalImage")
                    //-         td
                    //-             div(style="background:green;margin-left:0px;color:white;width:60%")
                    //-                 p(style="margin-left:10px") 60%
                            

block script   
   
    script(src="/libs/jquery-3.1.1.min.js")
    script(src="/libs/echarts.min.js")
    script(src="/libs/echartshelper.js")
    script(src="/libs/ui.js")


    script(stype="text/javascript").
        var xAxisData = [];
        for (var i = 0; i < 10800; i+= 10)
        {
            xAxisData.push( formatTime(i));
        }

        var charts = {};
        var div = document.getElementById('chart');
        var myChart = echarts.init(div);
        var helper = echartshelper(myChart);
        var options = helper.getOptions();
        options.xAxis.data = xAxisData;
        var herodetails;

        var checkboxparas = {
            reclick :true,
            autoreset:false,
            onclick:function(button){
                button.setAttribute("class", "checkboxChecked");
                options.yAxis[1].name = button.id;
                if (button.id == "win") 
                {
                    options.yAxis[1].min = 0;
                    options.yAxis[1].max = 1;
                }
                else
                {
                    options.yAxis[1].min = undefined ;
                    options.yAxis[1].max = undefined;
                }
                showdetails(button.id)
            },
            onreset: function(button){
                button.setAttribute("class","checkbox");
                helper.remove(button.id);
                options.yAxis[1].name = "";
                
                draw();

            }
        }

        function showdetails(item)
        {
            if (herodetails)
            {   
                var data = [];
                for (var i in herodetails)
                {
                    var d = herodetails[i];
                    data.push([formatTime(herodetails[i].timestamp),d[item] / d.play]);
                }
                helper.update({name:item,yAxisIndex:1,type:'line', smooth:true,  symbol:'none', data:data,symbol:'none', silent: true, animation: false})
                draw();
                
            }
            else
            {
                $.get('/api/GetHeroDetails/?name=#{hero}', function (ret) 
                {
                    herodetails = ret;
                    showdetails(item)
                })     
            }
        }

        ui.addRadioButton("win", "charts", checkboxparas)
        ui.addRadioButton("gpm", "charts", checkboxparas)
        ui.addRadioButton("xpm", "charts", checkboxparas)
        ui.addRadioButton("kills", "charts", checkboxparas)
        ui.addRadioButton("deaths", "charts", checkboxparas)
        ui.addRadioButton("assists", "charts", checkboxparas)
        ui.addRadioButton("lastHits", "charts", checkboxparas)
        ui.addRadioButton("denies", "charts", checkboxparas)
        ui.addRadioButton("level", "charts", checkboxparas)
        ui.addRadioButton("netWorth", "charts", checkboxparas)
        ui.addRadioButton("gold", "charts", checkboxparas)


        var subbuttonparas = {
            autoreset:false,
            reclick:false,
            onclick:function(button){
                button.setAttribute("class", "submenubtndown");
                var page = document.getElementById(button.id + "_page");
                page.style.height = "";
            },
            onreset:function(button){
                button.setAttribute("class", "submenubtn");
                var page = document.getElementById(button.id + "_page");
                page.style.height = "0px";
            }
        }
        ui.addRadioButton("itemwinrate","default", subbuttonparas);
        ui.addRadioButton("versuswinrate","default", subbuttonparas);
        itemwinrate.onclick();
        
 

        function formatTime(time)
        {
            var min = Math.floor(time / 60);
            var sec = time % 60;
            if (min == 0)
                return sec + '"';
            else if (sec == 0)
                return min + " '00" + '"';
            else                
                return min + "' " + sec + '"';
        }


        function draw()
        {
            var height = div.clientWidth /2.5;
            if (height < 250) height = 250;
            div.style.height = height;

            helper.refresh()
        }

        window.onresize =function(){ draw();}  

        function usedlimit(num)
        {
            return num > 20;
        }

        function getDetails(item)
        {
            var sel = document.getElementById(item);
            if ( sel.style.background != "green")
                return;

            if (charts[item]) 
            {
                helper.update({name:item, type:'line', smooth:true,  symbol:'none', markLine:{data : [{type : 'average', name: '平均值'}], symbol:'none', silent: true, animation: false},data:charts[item]})
                draw();
                return;
            }

            $.get('/api/GetItemDetails/?hero=#{hero}&item=' + item , function (details) 
            {
                var data = [];
                for (var i in details)
                {
                    var d = details[i];
                    if (!usedlimit(d.used) )
                        continue;
                    
                    data.push([formatTime(d.timestamp), d.win / d.used]);
                }

                charts[item] = data;
                getDetails(item)
            })
        }
        
        function selectItem(item)
        {
            var sel = document.getElementById(item);
            if ( sel.style.background == "green")
            {
                sel.style.background = "#111";
                helper.remove(item) 
                draw();
            }
            else
            {
                sel.style.background = "green"; 
                getDetails(item)
            }
            
        }


        $.get('/api/GetItemSummaries/?hero=#{hero}', function (items) 
        {
            var content = "";
            for (var index in items)
            {

                var item = items[index];
                if (item.used < 10)
                    continue
                var selected = "<td style='width:20px'><div style='width:20px;height:40px' id ='" + item.item + "' /></td>";
                var image = "<td style='width:80px'><img style='height:40px;vertical-align:middle;' src='http://cdn.dota2.com/apps/dota2/images/items/" + item.item + "_lg.png' class='normalImage'/></td>";
                var rate = "<td onclick='selectItem(\""+item.item+"\")'><div onclick='selectItem(\""+item.item+"\")' style='background:green;margin-left:0px;color:white;width:" + Math.floor(item.win * 100 /item.used ) + "%'><p onclick='selectItem(\""+item.item+"\")' style='margin-left:10px'>" + Math.floor(item.win * 100 /item.used)+"%</p></div></td>";
                var tr = "<tr >" + selected + image+ rate + "</tr>"
                content += tr;
            }

            document.getElementById("items").innerHTML = content; 
        })

        $.get('/api/GetHeroSummaries/?name=#{hero}', function (ret) 
        {
            var rate = ret.win / ret.play;
            helper.update({name:"#{hero}", type:'line', smooth:true,  symbol:'none', data:[rate],markLine:{data : [{type : 'average', name: '平均值'}], symbol:'none', silent: true, animation: false}})
            draw();
        })       


        var itemversus = {};
        function addItem(imagetype, name, rate, cb)
        {
            var image;
            if (imagetype == "hero")
                image = '<image style="height:40px;vertical-align:middle;" src="http://cdn.dota2.com/apps/dota2/images/heroes/'+name+'_hphover.png"/>'
            else
                image = '<image style="height:40px;vertical-align:middle;" src="http://cdn.dota2.com/apps/dota2/images/items/' + name + '_lg.png"/>'
            image = '<td style="width:80px"><div style="width:80px; float:left">' + image + '</div></td>';

            var progress = '<div style="background:green;width:100%"><p style="margin:10px;color:white"/>'+ rate +'%</div>'
            if (cb)
                progress = '<td onclick="'+ cb +'('+ name +')"><div style="height:40px;float:left;width:' + rate+ '%">' + progress + '</div></td>';
            else
                progress = '<td><div style="height:40px;float:left;width:' + rate+ '%">' + progress + '</div></td>';
                
            return  image + progress ;
        }

        function fold(div)
        {
            var id = div.id;
            if (div.style.height == "44px")
            {
                if (!itemversus[id])
                {
                    $.get('/api/GetItemVersuses/?hero=#{hero}&opponent=' + id, function (items) 
                    {
                        var content = "";
                        for (var i in items)
                        {
                            var item = items[i];
                            content += '<tr>' + addItem("item", item.item, Math.floor(item.win * 100 / item.used)) + '</tr>';
                        }
                        document.getElementById(id + "_table_1").innerHTML = content;
                    })

                    $.get('/api/GetItemVersuses/?opponent=#{hero}&hero=' + id, function (items) 
                    {
                        var content = "";
                        for (var i in items)
                        {
                            var item = items[i];
                            content += '<tr>' + addItem("item", item.item, Math.floor(100 - item.win * 100 / item.used)) + '</tr>';
                        }
                        document.getElementById(id + "_table_2").innerHTML = content;
                    })
                }
                div.style.height = ""
            }
            else
                div.style.height = "44px"
        } 

        $.get('/api/GetHeroVersuses/?hero=#{hero}', function (heros) 
        {
            var content = "";
            for (var index in heros)
            {
                var hero = heros[index];
                var main = '<table style="width:100%;"><tr>' + addItem("hero", hero.opponent, Math.floor(hero.win * 100 / hero.play),"fold")  + '</tr></table>';
                var header = '<table style="width:100%;color:#888"><tr><td style="width:20%">对手物品</td><td style="width:30%">自己胜率</td><td style="width:20%">自己物品</td><td style="width:30%">自己胜率</td></tr></table>' ;
                //var sub = '<table style="width:100%;background:#444" id="'+  hero.opponent +'_table"></table>';
                var sub =  '<table style="width:100%;background:#444"><tr><td style="width:50%"  valign="top"><table style="width:100%;" id="'+  hero.opponent +'_table_1"><tr><td/></tr></table></td><td style="width:50%;" valign="top"><table style="width:100%;" id="'+  hero.opponent +'_table_2"><tr><td/></tr></table></td></tr></table>';
                content += '<tr><td><div id="'+ hero.opponent +'" style="height:44px;width:100%;overflow:hidden">' + main +header + sub + '</div></td></tr>';
                //- content += '<tr><td><table style="width:100%;"><tr>' + addItem("hero", hero.opponent, Math.floor(hero.win * 100 / hero.play))  + '</tr></table></td></tr>' 
                
            //-     var rate = "<td onclick='selectItem(\""+hero.opponent+"\")'><div style='background:green;margin-left:0px;color:white;width:" + Math.floor(hero.win * 100 /hero.play ) + "%'><p style='margin-left:10px'>" + Math.floor(hero.win * 100 /hero.play)+"%</p></div></td>";
            //-     var tr = "<tr >" +  image+ rate + "</tr>"
            //-     content += tr;
            //-     console.log(hero)
            }
            document.getElementById("versuses").innerHTML = content; 
        })

        draw();

