extends frame


block body
    #hero(align="middle")
        //- img( src='http://cdn.dota2.com/apps/dota2/images/heroes/#{hero}_hphover.png')
    #chart(style="width: 100%;height:400px")
    #table
        table(style="background:#111;width:80%;max-width:500px;min-width:300px;margin-left:auto;margin-right:auto;color:#888")
            tbody(id="items")
               

    script(src="/libs/jquery-3.1.1.min.js")
    script(src="/libs/echarts.js")
    script(src="/libs/echartshelper.js")


    script(stype="text/javascript").

        function formatTime(time)
        {
            var min = Math.floor(time / 60);
            var sec = time % 60;
            if (min == 0)
                return sec + '"';
            else if (sec == 0)
                return min + " '00" + '"';
            else                
                return min + "' " + sec + '"';
        }

        var xAxisData = [];
        for (var i = 0; i < 10800; i+= 10)
        {
             xAxisData.push( formatTime(i));
        }

        var charts = {};
        var div = document.getElementById('chart');
        var myChart = echarts.init(div);
        var helper = echartshelper(myChart);
        var options = helper.getOptions();
        options.xAxis.data = xAxisData;


        function draw()
        {
            var height = div.clientWidth /2.5;
            if (height < 250) height = 250;
            div.style.height = height;

            helper.refresh()
            //document.getElementById("main").innerHTML = content; 
        }

        window.onresize =function(){ draw();}  

        function usedlimit(num)
        {
            return num > 10;
        }

        function getDetails(item)
        {
            if (charts[item]) 
            {
                helper.update(item, charts[item]);
                return;
            }

            $.get('/api/GetItemDetails/?hero=#{hero}&item=' + item , function (details) 
            {
                var data = [];

                for (var i in details)
                {
                    var d = details[i];
                    if (usedlimit(d.used) )
                        data.push([formatTime(d.timestamp), d.win / d.used]);
                }

                charts[item] = {name:item, type:'line', smooth:true,  symbol:'none', markLine:{data : [{type : 'average', name: '平均值'}], symbol:'none', silent: true, animation: false},
                                data:data};
                helper.update(item,charts[item]);
                draw();
            })
        }
        
        function selectItem(item)
        {
            var sel = document.getElementById(item);
            if (charts[item] && sel.style.background == "green")
            {
                sel.style.background = "#111";
                helper.remove(item) 
                draw();
            }
            else
            {
                sel.style.background = "green"; 
                getDetails(item)
            }
            
        }

        $.get('/api/GetItemSummaries/?name=#{hero}', function (items) 
        {
            var content = "";
            for (var index in items)
            {
                var item = items[index];
                var selected = "<td style='width:20px'><div style='width:20px;height:40px' id ='" + item.item + "' /></td>";
                var image = "<td style='width:80px'><img style='height:40px;vertical-align:middle;' src='http://cdn.dota2.com/apps/dota2/images/items/" + item.item + "_lg.png' /></td>";
                var rate = "<td onclick='selectItem(\""+item.item+"\")'><div onclick='selectItem(\""+item.item+"\")' style='background:green;margin-left:0px;color:white;width:" + Math.floor(item.win * 100 /item.used ) + "%'><p onclick='selectItem(\""+item.item+"\")' style='margin-left:10px'>" + Math.floor(item.win * 100 /item.used)+"%</p></div></td>";
                var tr = "<tr >" + selected + image + rate + "</tr>"
                content += tr;
            }

            document.getElementById("items").innerHTML = content; 
        })

        $.get('/api/GetHeroSummaries/?name=#{hero}', function (ret) 
        {
            var rate = ret.win / ret.play;
            
            charts['#{hero}'] = {name:'total rate', type:'line', smooth:true,  symbol:'none', data:[rate],markLine:{data : [{type : 'average', name: '平均值'}], symbol:'none', silent: true, animation: false}}
            draw();
        })        

        draw();
  
  