extends frame


block body
    #hero(align="middle")
        //- img( src='http://cdn.dota2.com/apps/dota2/images/heroes/#{hero}_hphover.png')
    #chart(style="width: 100%;")
    #table
        table(style="background:#111;width:80%;max-width:500px;min-width:300px;margin-left:auto;margin-right:auto;color:#888")
            tbody(id="items")
            
                tr 
                    td(style="width:20px;")
                        div(style="background:#a00;width:20px;height:40px")
                    td(style="width:80px")
                        img(style="height:40px;vertical-align: middle;" src="http://cdn.dota2.com/apps/dota2/images/items/blink_lg.png")
                    td
                        div(style="background:green;width:30%;margin-left:0px;color:white;")
                            p(style="margin-left:10px") 30%

    
               

    script(src="/libs/jquery-3.1.1.min.js")
    script(src="/libs/echarts.js")


    script(stype="text/javascript").
        function formatTime(time)
        {
            var min = Math.floor(time / 60);
            var sec = time % 60;
            if (min == 0)
                return sec + '"';
            else if (sec == 0)
                return min + " '00" + '"';
            else                
                return min + "' " + sec + '"';
        }

        var charts = {};
        var xAxisData = [];
        for (var i = 0; i < 10800; i+= 10)
        {
             xAxisData.push( formatTime(i));
        }
        // 基于准备好的dom，初始化echarts实例
        function draw()
        {
            
            var div = document.getElementById('chart');
            var height = div.clientWidth /2.5;
            if (height < 250) height = 250;
            div.style.height = height;
            
            var myChart = echarts.init(div);
            myChart.showLoading();
            var series = [];
            var legendData = [];
            for (var item in charts)
            {
                if (!charts[item].used)
                    continue;
                series.push(charts[item]);
                var name = charts[item].name;
                legendData.push({name:name, icon:'pin'})
            }
            
            

            option = {
                animation:false,
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    formatter: '{b}',
                },

                grid: {
                    left: '0',
                    right: '30',
                    bottom: '20',
                    containLabel: true
                },

                xAxis: {
                    name:'T',
                    type: 'category',
                    boundaryGap : false,
                    data: xAxisData,
                    axisLine:{
                        lineStyle:{
                            color: '#aaa'
                        }
                    },
                },
                yAxis: {
                    name:'rate',
                    type: 'value',
                    min:0,
                    max:1,
                    splitNumber:2,
                    minInterval: 0.5,
                    splitLine: {
                        show: true,
                        lineStyle:{
                            color:'#444'
                        }                        
                    },
                    axisLine:{
                        lineStyle:{
                            color: '#aaa'
                        }
                    },
                    splitArea:{
                        show:true,
                        areaStyle:{
                            color:['rgba(255,0,0,0.02)','rgba(0,255,0,0.02)']
                        }
                    }
                },

                legend: {
                    formatter:' ',
                    data:legendData,
                },
                series:series,
            };


                
            myChart.hideLoading();
            myChart.setOption(option);
            //document.getElementById("main").innerHTML = content; 
        }

        function usedlimit(num)
        {
            return num > 10;
        }

        function getDetails(item)
        {
            if (charts[item]) 
            {
                charts[item].used = true;
                draw();
                return;
            }

            $.get('/api/GetItemDetails/?hero=#{hero}&item=' + item , function (details) 
            {
                var data = [];

                for (var i in details)
                {
                    var d = details[i];
                    if (usedlimit(d.used) )
                        data.push([formatTime(d.timestamp), d.win / d.used]);
                }

                charts[item] = {used:true,name:item, type:'line', smooth:true,  symbol:'none', markLine:{data : [{type : 'average', name: '平均值'}], symbol:'none', silent: true, animation: false},
                                data:data};
                draw();
            })
        }
        
        function selectItem(item)
        {
            if (charts[item] && charts[item].used)
            {
                document.getElementById(item).style.background = "#111"; 
                charts[item].used = false;
                draw();
            }
            else
            {
                document.getElementById(item).style.background = "green"; 
                getDetails(item)
            }
            
        }

        $.get('/api/GetItemSummaries/?name=#{hero}', function (items) 
        {
            var content = "";
            for (var index in items)
            {
                var item = items[index];
                var selected = "<td style='width:20px'><div style='width:20px;height:40px' id ='" + item.item + "' /></td>";
                var image = "<td style='width:80px'><img style='height:40px;vertical-align:middle;' src='http://cdn.dota2.com/apps/dota2/images/items/" + item.item + "_lg.png' /></td>";
                var rate = "<td onclick='selectItem(\""+item.item+"\")'><div onclick='selectItem(\""+item.item+"\")' style='background:green;margin-left:0px;color:white;width:" + Math.floor(item.win * 100 /item.used ) + "%'><p onclick='selectItem(\""+item.item+"\")' style='margin-left:10px'>" + Math.floor(item.win * 100 /item.used)+"%</p></div></td>";
                var tr = "<tr >" + selected + image + rate + "</tr>"
                content += tr;
            }

            document.getElementById("items").innerHTML = content; 
        })

        $.get('/api/GetHeroSummaries/?name=#{hero}', function (ret) 
        {
            var rate = ret.win / ret.play;
            console.log(rate)
            
            charts['#{hero}'] = {used:true,name:'total rate', type:'line', smooth:true,  symbol:'none', data:[rate],markLine:{data : [{type : 'average', name: '平均值'}], symbol:'none', silent: true, animation: false}}
            draw();
        })        

        draw();
        window.onresize =function(){  draw();}  
  